@charset "UTF-8";
/* estilos.css */

/* Estilo para el contenedor del formulario */
.form-container {
    width: 300px; /* Ancho del recuadro */
    margin: 0 auto; /* Centrar el recuadro horizontalmente */
    padding: 20px;
    border: 1px solid #ccc; /* Borde del recuadro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de profundidad */
    background-color: #f9f9f9; /* Color de fondo */
}

/* Estilo para alinear y espaciar los campos del formulario */
.form-container div {
    margin-bottom: 15px; /* Espacio entre campos */
}

/* Estilo para los labels */
.form-container label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para los inputs */
.form-container input {
    width: 100%; /* Abarcar todo el ancho del contenedor */
    padding: 8px;
    box-sizing: border-box; /* Incluir el relleno dentro del ancho total */
}

/* Estilo para el botón */
.form-container button {
    width: 100%;
    padding: 10px;
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.navbar-collapse {
    justify-content: flex-end !important;
}

.navbar-nav {
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        width: 100%;
        text-align: right;
    }
    
    .nav-item {
        justify-content: flex-end;
    }
}